

#splash, #blocks{
  display: inline-block;
  height: 100%;
  width: 72.5%;
  margin-top: 10%;
}

/*-----------------*/
/****     E     ****/
/*-----------------*/

#splash #blocks .letter-e {
  display: inline-block;
  position:relative;
  width:120px;
  height:120px;
  float: left;
  margin-top: 5%;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:6.3em / 120px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#203880;
}
#splash #blocks .letter-e .inner, #splash #blocks .letter-e .front{
  position:relative;/
  width:120px;
  height:120px;
}
#splash #blocks .letter-e .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-e .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-e .front{
 background:#ffffff url('../img/none.png') no-repeat center center; }

#splash #blocks .letter-e .front{
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}

#splash #blocks .letter-e .front:hover{
  background:#203880;
  color:#ffffff;
}

/*-----------------*/
/****     H     ****/
/*-----------------*/

#splash #blocks .letter-h {
  display: inline-block;
  position:relative;
  width:190px;
  height:190px;
  float: left;
  margin-top: 15.2%;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:9.2em / 190px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#ffffff;
}
#splash #blocks .letter-h .inner, #splash #blocks .letter-h .front{
  position:relative;
  width:190px;
  height:190px;
}
#splash #blocks .letter-h .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-h .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-h .front{
 background:#f2c230 url('../img/none.png') no-repeat center center; }

#splash #blocks .letter-h .front{
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-h .front:hover{
  background:#ffffff;
  color:#f2c230;
}

/*-----------------*/
/****  Small l  ****/
/*-----------------*/

#splash #blocks .letter-l{
  display: inline-block;
  position:relative;
  width:110px;
  height:175px;
  float: left;
  margin-top: 17.7%;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:4.8em / 175px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#E3DAED;
}
#splash #blocks .letter-l .inner, #splash #blocks .letter-l .front{
  position:relative;
  width: 110px;
  height: 175px;
}
#splash #blocks .letter-l .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-l .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-l .front{
  background:#e74c2e url('../img/none.png') no-repeat center center; 
}

#splash #blocks .letter-l .front{
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-l .front:hover {
  background:#203880;
  color:#e74c2e;
}


/*-----------------*/
/****  Large L  ****/
/*-----------------*/

#splash #blocks .letter-l-large {
  display: inline-block;
  position:relative;
  width:166px;
  height:145px;
  float: left;
 /* right: 15%;*/
 margin-top: -5%;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:9.2em / 145px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#E3DAED;

}
#splash #blocks .letter-l-large .inner, #splash #blocks .letter-l-large .front{
  position:relative;
  width:166px;
  height:145px;
}
#splash #blocks .letter-l-large .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-l-large .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-l-large .front{
 background:#29E318 url('../img/none.png') no-repeat center center; }


#splash #blocks .letter-l-large .front{
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-l-large .front:hover{
  background:#F7FA00;
  color:#29E318;
}

/*-----------------*/
/****  Small 0  ****/
/*-----------------*/

#splash #blocks .letter-0-small{
  display: inline-block;
  position:relative;
  width:110px;
  height:240px;
  float: left;
  /*margin-left: -15%;*/
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:8.1em / 240px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#12E7C3;
}
#splash #blocks .letter-0-small .inner, #splash #blocks .letter-0-small .front{
  position:relative;
  width:110px;
  height:240px;
}
#splash #blocks .letter-0-small .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-0-small .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-0-small .front{
 background:#ED2A0F url('../img/none.png') no-repeat center center; }


#splash #blocks .letter-0-small .front {
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-0-small .front:hover{
  background:#75DEDF;
  color:#E74508;
}



/*-----------------*/
/****  Refresh  ****/
/*-----------------*/

#splash #blocks .refresh{
  display: inline-block;
  position:relative;
  width:235px;
  height:100px;
  float: left;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:4.8em / 100px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#C5E9F8;
}
#splash #blocks .refresh .inner, #splash #blocks .refresh .front{
  position:relative;
  width:235px;
  height:100px;
}
#splash #blocks .refresh .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .refresh .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .refresh .front{
 background:#2C102A url('../img/none.png') no-repeat center center; 
}

#splash #blocks .refresh .front {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

#splash #blocks .refresh .front:before {
  content: "\f021";
  font-family: FontAwesome;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#splash #blocks .refresh .front:hover:before, #splash #blocks .refresh .front:focus:before
,#splash #blocks .refresh .front:active:before{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}



/*-----------------*/
/****   Coffee  ****/
/*-----------------*/

#splash #blocks .coffee{
display: inline-block;
  position:relative;
  width:175px;
  height:175px;
  float: left;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .coffee .inner, #splash #blocks .coffee .front{
  position:relative;
  width:175px;
  height:175px;
}
#splash #blocks .coffee .inner {
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .coffee .inner .front {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .coffee .inner .front{ 
  background:#e74c2e url('../img/coffee.png') no-repeat center center; 
}

