

#splash, #blocks{
  display: inline-block;
  height: 100%;
  width: 72.5%;
  margin-top: 10%;
}

/*-----------------*/
/****     E     ****/
/*-----------------*/

#splash #blocks .letter-e {
  display: inline-block;
  position:relative;
  width:120px;
  height:120px;
  float: left;
  margin-top: 5%;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:6.3em / 120px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#203880;
}
#splash #blocks .letter-e .inner, #splash #blocks .letter-e .front{
  position:relative;/
  width:120px;
  height:120px;
}
#splash #blocks .letter-e .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-e .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-e .front{
 background:#ffffff url('../img/none.png') no-repeat center center; }

#splash #blocks .letter-e .front{
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}

#splash #blocks .letter-e .front:hover{
  background:#203880;
  color:#ffffff;
}

/*-----------------*/
/****     H     ****/
/*-----------------*/

#splash #blocks .letter-h {
  display: inline-block;
  position:relative;
  width:190px;
  height:190px;
  float: left;
  margin-top: 15.2%;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:9.2em / 190px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#ffffff;
}
#splash #blocks .letter-h .inner, #splash #blocks .letter-h .front{
  position:relative;
  width:190px;
  height:190px;
}
#splash #blocks .letter-h .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-h .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-h .front{
 background:#f2c230 url('../img/none.png') no-repeat center center; }

#splash #blocks .letter-h .front{
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-h .front:hover{
  background:#ffffff;
  color:#f2c230;
}

/*-----------------*/
/****  Small l  ****/
/*-----------------*/

#splash #blocks .letter-l{
  display: inline-block;
  position:relative;
  width:110px;
  height:175px;
  float: left;
  margin-top: 17.7%;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:4.8em / 175px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#E3DAED;
}
#splash #blocks .letter-l .inner, #splash #blocks .letter-l .front{
  position:relative;
  width: 110px;
  height: 175px;
}
#splash #blocks .letter-l .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-l .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-l .front{
  background:#e74c2e url('../img/none.png') no-repeat center center; 
}

#splash #blocks .letter-l .front{
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-l .front:hover {
  background:#203880;
  color:#e74c2e;
}


/*-----------------*/
/****  Large L  ****/
/*-----------------*/

#splash #blocks .letter-l-large {
  display: inline-block;
  position:relative;
  width:166px;
  height:145px;
  float: left;
 /* right: 15%;*/
 margin-top: -5%;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:9.2em / 145px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#E3DAED;

}
#splash #blocks .letter-l-large .inner, #splash #blocks .letter-l-large .front{
  position:relative;
  width:166px;
  height:145px;
}
#splash #blocks .letter-l-large .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-l-large .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-l-large .front{
 background:#29E318 url('../img/none.png') no-repeat center center; }


#splash #blocks .letter-l-large .front{
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-l-large .front:hover{
  background:#F7FA00;
  color:#29E318;
}

/*-----------------*/
/****  Small 0  ****/
/*-----------------*/

#splash #blocks .letter-0-small{
  display: inline-block;
  position:relative;
  width:110px;
  height:240px;
  float: left;
  /*margin-left: -15%;*/
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:8.1em / 240px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#12E7C3;
}
#splash #blocks .letter-0-small .inner, #splash #blocks .letter-0-small .front{
  position:relative;
  width:110px;
  height:240px;
}
#splash #blocks .letter-0-small .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-0-small .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-0-small .front{
 background:#ED2A0F url('../img/none.png') no-repeat center center; }


#splash #blocks .letter-0-small .front {
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-0-small .front:hover{
  background:#75DEDF;
  color:#E74508;
}



/*-----------------*/
/****  Refresh  ****/
/*-----------------*/

#splash #blocks .refresh{
  display: inline-block;
  position:relative;
  width:235px;
  height:100px;
  float: left;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:4.8em / 100px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#C5E9F8;
}
#splash #blocks .refresh .inner, #splash #blocks .refresh .front{
  position:relative;
  width:235px;
  height:100px;
}
#splash #blocks .refresh .inner{
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .refresh .front{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .refresh .front{
 background:#2C102A url('../img/none.png') no-repeat center center; 
}

#splash #blocks .refresh .front {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

#splash #blocks .refresh .front:before {
  content: "\f021";
  font-family: FontAwesome;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#splash #blocks .refresh .front:hover:before, #splash #blocks .refresh .front:focus:before
,#splash #blocks .refresh .front:active:before{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}



/*-----------------*/
/****   Coffee  ****/
/*-----------------*/

#splash #blocks .coffee{
display: inline-block;
  position:relative;
  width:175px;
  height:175px;
  float: left;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .coffee .inner, #splash #blocks .coffee .front{
  position:relative;
  width:175px;
  height:175px;
}
#splash #blocks .coffee .inner {
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .coffee .inner .front {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .coffee .inner .front{ 
  background:#e74c2e url('../img/coffee.png') no-repeat center center; 
}




.bio figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bio figure figcaption::before,
.bio figure figcaption::after {
  pointer-events: none;
}

.bio figure figcaption,
.bio figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bio figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.bio figure h2 {
  word-spacing: -0.15em;
  font-weight: 100;
}

.bio figure h2 span {
  font-weight: 100;
}

.bio figure h2,
.bio figure p {
  margin: 0;
}

.bio figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*-----------------*/
/*** Profile Pic ***/
/*-----------------*/

.bio {
  position: relative;
  display: inline-block;
    float: left;
    margin-top: -7.55%;
    margin-left: -.3%;
}

.bio .profilepic {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  height: 200px;
  width: 200px;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.bio .profilepic img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

figure.profilepic{
  background: #3498db;
}

figure.profilepic img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05,1.05,1);
  transform: scale3d(1.05,1.05,1);
}

figure.profilepic figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.profilepic p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.profilepic h2 {
  text-align: left;
}

figure.profilepic:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.profilepic:hover figcaption::before {
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.profilepic:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}


/*---------------*/
/*** expression **/
/*---------------*/

.bio-expression {
  /*position: relative;*/
  display: inline-block;
    float: left;
    height: 88px;
  width: 88px;
  margin-top: 8%;
}
.bio-expression .expression {
  position: relative;
  float: left;
  overflow: hidden;
  height: 88px;
  width: 88px;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.bio-expression .expression img {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.bio-expression .expression figcaption,
.bio-expression .expression figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure.expression {
  background: #9e5406;
}

figure.expression img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.expression:hover img {
  opacity: 0.4;
}

figure.expression figcaption::before,
figure.expression figcaption::after {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.expression figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

figure.expression figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

figure.expression h2 {
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-20px,0);
  transform: translate3d(0,-20px,0);
}

figure.expression p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.expression:hover figcaption::before,
figure.expression:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.expression:hover h2,
figure.expression:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

