

.bio figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bio figure figcaption::before,
.bio figure figcaption::after {
	pointer-events: none;
}

.bio figure figcaption,
.bio figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bio figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.bio figure h2 {
	word-spacing: -0.15em;
	font-weight: 100;
}

.bio figure h2 span {
	font-weight: 100;
}

.bio figure h2,
.bio figure p {
	margin: 0;
}

.bio figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*-----------------*/
/*** Profile Pic ***/
/*-----------------*/

.bio {
	position: relative;
	display: inline-block;
  	float: left;
  	margin-top: -7%;
  	margin-left: -.3%;
}

.bio .profilepic {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	height: 200px;
	width: 200px;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.bio .profilepic img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

figure.profilepic{
	background: #3498db;
}

figure.profilepic img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.profilepic figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.profilepic p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.profilepic h2 {
	text-align: left;
}

figure.profilepic:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.profilepic:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.profilepic:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}


/*---------------*/
/*** expression **/
/*---------------*/

.bio-expression {
	/*position: relative;*/
	display: inline-block;
  	float: left;
  	height: 80px;
	width: 80px;
	margin-top: 5%;
}
.bio-expression .expression {
	position: relative;
	float: left;
	overflow: hidden;
	height: 80px;
	width: 80px;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.bio-expression .expression img {
	position: relative;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.bio-expression .expression figcaption,
.bio-expression .expression figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.expression {
	background: #9e5406;
}

figure.expression img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.expression:hover img {
	opacity: 0.4;
}

figure.expression figcaption::before,
figure.expression figcaption::after {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.expression figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.expression figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.expression h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.expression p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.expression:hover figcaption::before,
figure.expression:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.expression:hover h2,
figure.expression:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}