/*

Letter A

*/

#splash #blocks .letter-a, #splash-fullscreen #blocks .letter-a {
  position:absolute;
  left:720px;
  top:120px;
  width:120px;
  height:120px;
  background:transparent;
  z-index:200;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  font:6.3em / 120px 'NeuzeitSLTW01-BookHeavy', Helvetica, Arial, sans-serif;
  text-align:center;
  color:#203880;
}
#splash #blocks .letter-a .inner, #splash #blocks .letter-a .front, #splash #blocks .letter-a .back, #splash-fullscreen #blocks .letter-a .inner, #splash-fullscreen #blocks .letter-a .front, #splash-fullscreen #blocks .letter-a .back {
  position:absolute;
  left:0;
  top:0;
  display:block;
  width:120px;
  height:120px;
}
#splash #blocks .letter-a .inner, #splash-fullscreen #blocks .letter-a .inner {
  -webkit-perspective:100px;
  -moz-perspective:100pxpx;
  -ms-perspective:100px;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  -moz-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s;
  -o-transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
  transition:all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0;
}
#splash #blocks .letter-a .front, #splash #blocks .letter-a .back, #splash-fullscreen #blocks .letter-a .front, #splash-fullscreen #blocks .letter-a .back {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
#splash #blocks .letter-a .front, #splash-fullscreen #blocks .letter-a .front { background:#ffffff url('../image/none.png') no-repeat center center; }
#splash #blocks .letter-a .back, #splash-fullscreen #blocks .letter-a .back {
  -webkit-transform:rotateY(-180deg);
  -moz-transform:rotateY(-180deg);
  -ms-transform:rotateY(-180deg);
  -o-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
  background-color:#ffffff;
}
#splash #blocks .letter-a .front, #splash-fullscreen #blocks .letter-a .front {
  -webkit-transition:all 200ms ease-in 0;
  -moz-transition:all 200ms ease-in 0s;
  -o-transition:all 200ms ease-in 0;
  transition:all 200ms ease-in 0;
}
#splash #blocks .letter-a.hover .front, #splash-fullscreen #blocks .letter-a.hover .front {
  background:#203880;
  color:#ffffff;
}